<%- include('partials/header') %>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<navbar>
	<ul class="nav-list">
		<li class="nav-item">
			<a href="#"><img src="images/raven.svg" /></a>
		</li>
		<li class="nav-item"><a href="#about-section">About</a></li>
		<li class="nav-item"><a href="#project-section">Projects</a></li>
		<li class="nav-item"><a href="#skills-section">Skills</a></li>
		<li class="nav-item"><a href="#contact-section">Contact</a></li>
	</ul>
</navbar>

<div id="particles-js">
	<div class="first-box">
		<p class="my-name-fline">Hi, I'm</p>
		<h1 class="my-name">Fernando Cuervo</h1>
		<p class="my-name-p">Computer Science Student</p>
	</div>
</div>

<div class="about-me-container" id="about-section">
	<div class="title-container">
		<h1 class="section-title">About me</h1>
	</div>
	<div class="about-info-container">
		<img src="images/the-rock.jpg" class="about-img" alt="fernando-img" />
		<div class="about-me-content">
			<h3 class="firsts-subtitle">Who am I?</h3>
			<p class="paragraph-info">
				I'm Fernando Cuervo, a Computer Science Student
			</p>
			<p class="paragraph-info-third">
				For a while now I have found my passion,
				<b>software development.</b> I am a person who wakes up every
				day with the desire to learn and improve. In my free time I like
				to do personal projects to improve my skills.
			</p>
		</div>
	</div>
	<div class="phrase">
		<h1 class="my-phrase">
			"YOU CAN DO ANYTHING IF YOU SET GOALS.<br />YOU JUST HAVE TO PUSH
			YOURSELF"
		</h1>
		<p class="my-phrase-author">RJ MITTE</p>
	</div>
</div>

<div class="projects-container" id="project-section">
	<div class="title-container">
		<h1 class="section-title">Projects</h1>
	</div>

	<div class="cards-container">
		<div class="card">
			<div class="card-header">
				<img
					src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg"
					alt="sorting-card"
				/>
			</div>
			<div class="card-body">
				<div class="tag-container">
					<span class="tag tag-teal">HTML</span>
					<span class="tag tag-teal">CSS</span>
					<span class="tag tag-teal">JS</span>
				</div>
				<h4>Sorting Algorithms Visualization</h4>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Necessitatibus, ducimus minus quia distinctio cupiditate
					excepturi saepe labore enim explicabo quidem!
				</p>
				<div class="card-links">
					<a href="#"><img src="images/github.svg" /></a>
					<a href="#"><button class="btn-link">See more</button></a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<img
					src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg"
					alt="sorting-card"
				/>
			</div>
			<div class="card-body">
				<div class="tag-container">
					<span class="tag tag-teal">HTML</span>
					<span class="tag tag-teal">BOOTSTRAP</span>
					<span class="tag tag-teal">JS</span>
					<span class="tag tag-teal">NODE</span>
					<span class="tag tag-teal">MONGODB</span>
				</div>
				<h4>To Do List</h4>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Necessitatibus, ducimus minus quia distinctio cupiditate
					excepturi saepe labore enim explicabo quidem!
				</p>
				<div class="card-links">
					<a href="#"><img src="images/github.svg" /></a>
					<a href="https://raventodolist.herokuapp.com/"><button class="btn-link">See more</button></a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<img
					src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg"
					alt="sorting-card"
				/>
			</div>
			<div class="card-body">
				<div class="tag-container">
					<span class="tag tag-teal">HTML</span>
					<span class="tag tag-teal">CSS</span>
					<span class="tag tag-teal">JS</span>
					<span class="tag tag-teal">REACT</span>
				</div>
				<h4>Lorem Ipsum Generator</h4>
				<p>
					The project was carried out from scratch using ReactJs. The
					purpose of this project was to practice building components,
					using Hooks, useStates, among others.
				</p>
				<div class="card-links">
					<a href="https://github.com/Fcuervo21/raven-lorem-ipsum"><img src="images/github.svg" /></a>
					<a href="https://raven-lorem-ipsum.herokuapp.com/"><button class="btn-link">See more</button></a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<img
					src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg"
					alt="sorting-card"
				/>
			</div>
			<div class="card-body">
				<div class="tag-container">
					<span class="tag tag-teal">HTML</span>
					<span class="tag tag-teal">CSS</span>
					<span class="tag tag-teal">JS</span>
				</div>
				<h4>Hola a todos</h4>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Necessitatibus, ducimus minus quia distinctio cupiditate
					excepturi saepe labore enim explicabo quidem!
				</p>
				<div class="card-links">
					<a href="#"><img src="images/github.svg" /></a>
					<a href="#"><button class="btn-link">See more</button></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="skills-container" id="skills-section">
	<div class="title-container">
		<h1 class="section-title">Skills</h1>
	</div>
	<div class="skills-icons-grid">
		<img class="skills-images" src="images/html.png" alt="html-icon" />
		<img class="skills-images" src="images/CSS3.png" alt="css-icon" />
		<img class="skills-images" src="images/js.png" alt="javascript-icon" />
		<img class="skills-images" src="images/nodejs.png" alt="nodejs-icon" />
		<img class="skills-images" src="images/gitlogo.png" alt="git-icon" />
		<img class="skills-images" src="images/python-logo.png" alt="python-icon"/>
		<img class="skills-images" src="images/sql.png" alt="sql-icon" />
		<img class="skills-images" src="images/mongodb.png" alt="mongodb-icon"/>
		<img class="skills-images" src="images/React-icon.png" alt="react-icon"/>
	</div>
</div>
<div class="contact-me-container" id="contact-section">

	<div class="title-container">
		<h1 class="section-title">Contact Me</h1>
	</div>
	<div class="contact-container">
		<div class="contact-info-container">
			<h2>Let's get in touch</h2>
			<p>You can find my contact information below by clicking on the icons or fill the form to send an email.</p>

			<div class="social-media-blocks">
				<div class="social-media-blocks-card">
					<a href="https://www.linkedin.com/in/fernando-cuervo-ledesma-1184b21b7/" target="_blank" rel="noopener noreferrer"><img src="images/linkedin-contact.png" /></a>
					<h3 class="social-media-blocks-card-title">LinkedIn</h3>
				</div>
				<div class="social-media-blocks-card">
					<a href="https://github.com/Fcuervo21" target="_blank" rel="noopener noreferrer"><img src="images/github-contact.png" /></a>
					<h3 class="social-media-blocks-card-title" >Github</h3>
				</div>
			</div>
		</div>
		<div class="contact-email-container">

			

			<h2>Get in touch</h2>
			<form class="contact-form" method="post" action="/">
				<div class="form-elements">
					<label>FULL NAME</label>
					<input class="input-style" id="name" type="text" name="name" placeholder="Name" autocomplete="off" value=<%= fullName %>>
					<label>EMAIL ADDRESS</label>
					<input class="input-style" id="email" type="email" name="email" placeholder="Email" autocomplete="off" value=<%= fullEmail %>>
					<label>SUBJECT</label>
					<input class="input-style" id="subject" type="text" name="subject" placeholder="Subject" autocomplete="off" value=<%= fullSubject %>>
					<label>MESSAGE</label>
					<textarea id="message" type="text" name="message" placeholder="Message" autocomplete="off" rows="9" value=<%= fullMessage %>></textarea>
					<button type="submit">SEND MESSAGE</button>
				</div>
			</form>
		</div>
		
	</div>
	<% if (alertStatus) { %>
		<script>
			Swal.fire({
			icon: 'success',
			title: 'Done',
			text: 'Email sent successfully!'
		  });
		</script>
	<% } %>
</div>
<script src="scripts/particles.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/actionsSubmit.js"></script>
<script src="scripts/preventResending.js"></script>


<%- include('partials/footer') %>
